*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary-color: #fff;
    --secondary-color: #201c1c;
}

.dark-theme{
    --primary-color: #201c1c;
    --secondary-color: #fff;
}

#icon{
    width: 30px;
    cursor: pointer;
    padding: 36px;
}


header{
    width: 100vw;
    height: 100px;
    background-color: var(--primary-color);
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
    font-size: 20px;
}

header .inner{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100px;
    float: left;
    color: #dc0c9d;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo div h1{
    font-size: 30px;
    padding-left: 0%;
}

header .logo div h1:hover{
    color: var(--primary-color);
}

header .logo img{
    height: 100px;
    margin-top: 5px; /* Optical alignment of the logo */
}

header nav{
    float: right;
    height: 100%;
    font-size: 17px;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li a:hover{
    color: #dc0c9d;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: var(--secondary-color);
}

header nav .button{
    background-color: #dc0c9d; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 20px;
    
}

header nav .button:hover{
    background-color: var(--secondary-color);
    zoom: 1.1;
}

.col-1 {
    margin-left: 16%;    
    width: auto;
    height: 100px;
    background-color: var(--primary-color);
    position: relative;
    font-family: 'Poppins';
}

.col-1 h1{
    font-size: 80px;
    line-height: 79px;
    font-weight: 700px;
    position: absolute;
    margin-top: 20%;
}

.col-1 h1 span{
    color: #201c1c;
    cursor: pointer;
    text-decoration: underline solid #dc0c9d 5px;
}

.col-1 h1 span:hover{
    color: #dc0c9d;
    text-decoration: underline solid #201c1c 5px;
}

#vector{
    display: block;
    width: 40%;
    padding-left: 40%;
    margin-top: 6%;
    overflow: hidden;
    transition: transform .5s, filter 1.5s ease-in-out;     /*Published on June 6, 2020 by Rahu https://w3bits.com/css-image-hover-zoom/*/
    filter: grayscale(100%);}

#vector:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}